<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OsuDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
    <userSettings>
        <OsuDownloader.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartAsTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OsuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoTerminate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BDOptBackground" serializeAs="String">
                <value>NoTouch</value>
            </setting>
            <setting name="BDOptRemoveVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BDOptRemoveSkin" serializeAs="String">
                <value>False</value>
            </setting>
        </OsuDownloader.Properties.Settings>
    </userSettings>
</configuration>
